#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.annoModal__badge {
  font-weight: bold;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: black;
}

.statusMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid gray;
  padding: 5px;
  background-color: white;
  opacity: 1.0;
  border-radius: 5%;
}

.statusMessage--zTop {
  z-index: 9999;
}

.parentMenu {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 14px;
}

.parentMenu__button {
  outline: none;
  padding: 0px 7px 0px 7px;
  margin: 1px 1px 1px 1px;
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 2px;
  box-shadow: none;
}

.parentMenu__button:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.parentMenu__dropdown {
  display: block;
  position: absolute;
  background-color: #eeeeee;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  border: 1px solid #cbcacb;
  z-index: 999;
}

.parentMenu__dropdown a {
  display: block;
  padding: 4px 2px;
  color: black;
  text-align: left;
  text-decoration: none;
}

.parentMenu__dropdown a:hover {
  background-color: #cccccc;
}

.modal__titlebox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Classes to BEM-ify
 * https://github.com/statgen/bravo_vue/issues/10 */
.bravo-tab {
   display: flex;
   flex-direction: row;
}

.bravo-tab-item {
   padding-left: 15px;
   padding-right: 15px;
}

.bravo-tab-item a {
   color: black;
   text-decoration: none;
}

.bravo-tab-item-unselected a {
   color: #757575;
}

.bravo-tab-item-unselected a:hover {
   color: black;
}

.bravo-tab-item-selected a {
   color: #0b66fe;
}

.bravo-tab-item-selected {
   border-bottom: 3px solid #0b66fe;
}

.child-component {
  position: relative;
  min-height: 50px;
  margin-top: 5px;
}

.control-buttons {
  position: absolute;
  margin: 0px;
  top: 0px;
  right: 0px;
  font-size: 12px;
  z-index: 999;
}

.control-button {
  padding: 0px 4px 0px 4px;
  margin-left: 1px;
  color: white;
  outline: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 2px;
  box-shadow: none;
}

.hscroll-button {
  padding: 0px;
  width: 32px;
  height: 32px;
  color: #007bff;
  font-size: 20px;
  outline: none;
  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 50%;
  box-shadow: none;
  z-index: 998;
}

.hscroll-button:hover {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,.3);
  color: #0062cc;
  border-color: #0062cc;
}

.scroll-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
}

.scroll-left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
}

.control-button:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 4px 0px 4px;
  color: white;
  font-size: 12px;
  outline: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 2px;
  box-shadow: none;

}

.close-button:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.bravo-info-message {
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 11px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: white;
  opacity: 0.8;
}

.bravo-tooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 11px;
  background-color: #eeeeee;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
  opacity: 1;
}

/* Bootstrap 5 stand in.
 * coreui uses bootstrap5 styles.  Until migrated we need to provide some of
 * that stylying manually */

.accordion-button {
 	position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--cui-accordion-btn-padding-y) var(--cui-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--cui-accordion-btn-color);
  text-align: left;
  background-color: var(--cui-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--cui-accordion-transition); 
}

/* Bootstrap overrides */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 5px;
  scroll-behavior: smooth; /* not supported in Safari and Edge */
}

.cards::-webkit-scrollbar { /* don't show horizonal scroll but still allow scrolling */
  display: none;
}

.card {
  height: auto;
  flex: 0 0 auto;
  margin-right: 8px;
  align-self: flex-start;
}

.table {
  margin-bottom: 5px;
}

.card-body {
  padding: 10px;
}

.badge-light.clickable {
  cursor: pointer;
	-webkit-text-stroke: 0.15px black;
}

.modal {
  display: inherit;
}

@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

.search-box-input {
   flex-grow: 1;
   min-width: 16px;
   margin-left: 8px;
   font-size: 16px;
   border: none;
   outline: none;
}

.search-box-input:focus {
   border: none;
   box-shadow: none;
   outline: none;
}

.bo-small-logo {
  border-radius: 10px;
}

.search-box {
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   border: 0px;
   padding: 5px;
   margin: 0px;
   z-index: 9998;
}
.search-box-dropdown-open {
}
.search-box-dropdown-open::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  -webkit-top: calc(100% - 1px);
  left: 0%;
  width: calc(100% - 26px);
  -webkit-width: calc(100% - 26px);
  margin-left: 13px;
  border-top: 1px solid #ced4da;
}
.div-shadow {
  background-color: white;
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 1.2rem;
  border: 1px solid #ced4da;
  z-index: 9998;
}
.div-shadow-show {
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.4);
}
.div-shadow-expand {
  border-radius: 1rem 1rem 1rem 1rem;
}
.search-box-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-box-button:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
