.tabulator {
  font-size: 12px;
}
/* BEGIN. :hover doesn't behave as expected on mobile device, so we mannually append our own row-hovered css class */
.tabulator .tabulator-row.tabulator-selectable.row-hovered {
  background-color: orange;
  cursor: default;
}
.tabulator .tabulator-row.tabulator-selectable:hover {
}
/* END. */

.cell-button {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  padding: 0px 7px 0px 7px;
  margin: 0px 1px 0px 1px;
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 2px;
  box-shadow: none;
}

.cell-button:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}
