.badge--transcript_ablation { color: #fb0007;}
.badge--splice_acceptor_variant { color: #fc4016;}
.badge--splice_donor_variant { color: #fc4016;}
.badge--stop_gained { color: #fb0007;}
.badge--frameshift_variant { color: #8000c9;}
.badge--stop_lost { color: #fb0007;}
.badge--start_lost { color: #d8b60a;}
.badge--transcript_amplification { color: #fc4ca5;}
.badge--inframe_insertion { color: #fc4ca5;}
.badge--inframe_deletion { color: #fc4ca5;}
.badge--missense_variant { color: #d8b60a;}
.badge--protein_altering_variant { color: #fb006d;}
.badge--splice_region_variant { color: #fc6940;}
.badge--incomplete_terminal_codon_variant { color: #fb00ff;}
.badge--start_retained_variant { color: #68f007;}
.badge--stop_retained_variant { color: #68f007;}
.badge--synonymous_variant { color: #68f007;}
.badge--coding_sequence_variant { color: #387b02;}
.badge--mature_miRNA_variant { color: #387b02;}
.badge--5_prime_UTR_variant { color: #69b9c2;}
.badge--3_prime_UTR_variant { color: #69b9c2;}
.badge--non_coding_transcript_exon_variant { color: #2fc726;}
.badge--intron_variant { color: #09458a;}
.badge--NMD_transcript_variant { color: #fc2c07;}
.badge--non_coding_transcript_variant { color: #2fc726;}
.badge--upstream_gene_variant { color: #91a5c2;}
.badge--downstream_gene_variant { color: #91a5c2;}
.badge--TFBS_ablation { color: #921a20;}
.badge--TFBS_amplification { color: #921a20;}
.badge--TF_binding_site_variant { color: #921a20;}
.badge--regulatory_region_ablation { color: #921a20;}
.badge--regulatory_region_amplification { color: #921a20;}
.badge--feature_elongation { color: #6c6c6c;}
.badge--regulatory_region_variant { color: #921a20;}
.badge--feature_truncation { color: #6c6c6c;}
.badge--intergenic_variant { color: #505050;}
