.annoModal__badge--transcript_ablation { color: #fb0007;}
.annoModal__badge--splice_acceptor_variant { color: #fc4016;}
.annoModal__badge--splice_donor_variant { color: #fc4016;}
.annoModal__badge--stop_gained { color: #fb0007;}
.annoModal__badge--frameshift_variant { color: #8000c9;}
.annoModal__badge--stop_lost { color: #fb0007;}
.annoModal__badge--start_lost { color: #d8b60a;}
.annoModal__badge--transcript_amplification { color: #fc4ca5;}
.annoModal__badge--inframe_insertion { color: #fc4ca5;}
.annoModal__badge--inframe_deletion { color: #fc4ca5;}
.annoModal__badge--missense_variant { color: #d8b60a;}
.annoModal__badge--protein_altering_variant { color: #fb006d;}
.annoModal__badge--splice_region_variant { color: #fc6940;}
.annoModal__badge--incomplete_terminal_codon_variant { color: #fb00ff;}
.annoModal__badge--start_retained_variant { color: #68f007;}
.annoModal__badge--stop_retained_variant { color: #68f007;}
.annoModal__badge--synonymous_variant { color: #68f007;}
.annoModal__badge--coding_sequence_variant { color: #387b02;}
.annoModal__badge--mature_miRNA_variant { color: #387b02;}
.annoModal__badge--5_prime_UTR_variant { color: #69b9c2;}
.annoModal__badge--3_prime_UTR_variant { color: #69b9c2;}
.annoModal__badge--non_coding_transcript_exon_variant { color: #2fc726;}
.annoModal__badge--intron_variant { color: #09458a;}
.annoModal__badge--NMD_transcript_variant { color: #fc2c07;}
.annoModal__badge--non_coding_transcript_variant { color: #2fc726;}
.annoModal__badge--upstream_gene_variant { color: #91a5c2;}
.annoModal__badge--downstream_gene_variant { color: #91a5c2;}
.annoModal__badge--TFBS_ablation { color: #921a20;}
.annoModal__badge--TFBS_amplification { color: #921a20;}
.annoModal__badge--TF_binding_site_variant { color: #921a20;}
.annoModal__badge--regulatory_region_ablation { color: #921a20;}
.annoModal__badge--regulatory_region_amplification { color: #921a20;}
.annoModal__badge--feature_elongation { color: #6c6c6c;}
.annoModal__badge--regulatory_region_variant { color: #921a20;}
.annoModal__badge--feature_truncation { color: #6c6c6c;}
.annoModal__badge--intergenic_variant { color: #505050;}
